.DS_Store
target
target/**/*
/**/target/**/*
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
ddl-linux/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea/workspace.xml
.idea
.idea/*
.idea/**/*
out/
grails-banner-core*.zip
*.sha1
test/**/cobertura.ser
test/**/release_info.groovy
test/**/release_info.groovy.old
plugin.xml
*en_PS.properties
web-app/i18n_properties.gsp
web-app/WEB-INF/i18n-core-lang-addon.xml
**-rtl.css
ddl-linux/*
*.lis
*.ser
web-app/css/views/securityQA/securityQA-rtl.css
web-app/css/views/survey/survey-rtl.css
web-app/css/views/userAgreement/policy-rtl.css
StudentApi-catalina*
grailsw
grailsw.bat
.classpath
.project
